<div class="footer">
    Maintained by <a href="https://github.com/tomasurbanec">Tomáš Urbanec</a> | <a href="mailto:hi@planetgolang.dev">Contact</a> | Generated at {{ .Now }} | <a href="/what.html#licensing">Licensing info</a>
</div>
