<div class="footer">
    Built with <3 by <a href="https://github.com/paweljw">Paweł J. Wal</a> | <a href="mailto:hello@planetgolang.dev">Contact</a> | Generated at {{ .Now }} | <a href="/what.html#licensing">Licensing info</a>
</div>
