<article data-id="{{ .ID }}">
<h3><a href="{{ .Url }}" target="_blank">{{ .Title }}</a></h3>
<div class="metadata"><strong>{{ .Author }}</strong> @ <strong>{{ .FormattedPublishedAt }}</strong> on <strong><a href="{{ .SourceUrl }}" target="_blank">{{ .Source }}</a></strong></div>
<p>
{{ .Summary }}
</p>
</article>
