<!doctype html>

<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Planet Golang | unfiltered Go news</title>
    <meta name="description" content="An unopinionated collection of newest Golang articles from all around the web.">
    <meta name="original-author" content="Paweł J. Wal">
    <meta name="maintainer" content="Tomas Urbanec">
    <link rel="alternate" type="application/rss+xml" title="RSS Feed for planetgolang.dev" href="/index.xml" />

    <meta property="og:title" content="Planet Golang">
    <meta property="og:type" content="website">
    <meta property="og:url" content="https://planetgolang.dev">
    <meta property="og:description"
        content="An unopinionated collection of newest Golang articles from all around the web.">
    <meta property="og:image" content="/image.png">

    <link rel="icon" href="/favicon.ico">
    <link rel="icon" href="/favicon.svg" type="image/svg+xml">
    <link rel="apple-touch-icon" href="/apple-touch-icon.png">

    <link rel="stylesheet" href="/style.css">

</head>

<body>
    {{ template "navbar.tmpl" }}
    <main>
        <h2>What is this?</h2>
        <p>This site is a <em>planet</em> - while this term has fallen out of use somewhat, it used to mean a page
            aggregating many news sources pertaining to a single topic. A good example of a similar concept is <a href="https://planet.haskell.org">Planet Haskell</a> or <a
                href="https://planetpython.org/">Planet Python</a>.</p>
        <p>Planet Golang is of course dedicated to <a href="https://go.dev/">the Go programming language</a>.</p>
        <p>The most important thing - this isn't a newsletter, or a curated collection. It's anything and everything
            Go-related, for your browsing convenience.</p>
	<p> Since September 2023 the site is maintained by <a href="mailto:hi@planetgolang.dev">Tomáš Urbanec</a>. It was developed and up to August 2023 also maintained by <a href="https://paweljw.al/">Paweł J. Wal</a>. </p>

        <h2>My stuff should be on here!</h2>
        <p>Fantastic! You can add it yourself by opening a pull request on <a
                href="https://github.com/tomasurbanec/planetgolang.dev">GitHub</a> (check out <code>feeds.yml</code>). If
            you'd
            rather not do that, or you don't expose an RSS feed, let me know by <a
                href="mailto:hi@planetgolang.dev">mail</a>.</p>

        <h2>My stuff should NOT be on here.</h2>
        <p>I'm sorry. You can remove it yourself by opening a pull request on <a
                href="https://github.com/tomasurbanec/planetgolang.dev">GitHub</a>, or let me know by <a
                href="mailto:hi@planetgolang.dev">mail</a>.</p>

        <h2>This is cool and I'd like to help!</h2>
        <p>If you have any ideas, please reach out by <a
                href="mailto:hi@planetgolang.dev">mail</a>.</p>
	<p> If you want to chip in for infrastructure costs, you can do it via <a href="https://paypal.me/tomurbanec">paypal</a>. Thank you. </p>
        <h2 id="licensing">Licensing</h2>
        <p>
            External content is clearly labelled as such and authors are stated everywhere it appears. The content is
            provided strictly for educational use and in a non-commercial fashion; as such, I believe this site falls
            under fair use.
        </p>
        <p>
            The Go gopher was designed by Renee French. The design is licensed under the Creative Commons 3.0
            Attributions license. Read <a href="https://blog.golang.org/gopher">this article</a> for more details.
        </p>
    </main>
    {{ template "footer.tmpl" . }}
    </div>
</body>

</html>
